<div id="logos_center">
  <ul>
    <li><%= link_to (image_tag "general/aib.png", width:"250"), "http://www.aib.cat" %></li>
    <li><%= link_to (image_tag "general/mm.png", width:"250"), "http://www.ma77er.com" %></li>
    <li><%= link_to (image_tag "general/c.png", width:"250"), "http://www.collectivaa.com" %></li>
  </ul>
</div> 
