<section>
  <h1>Clients</h1>
  <ul>
    <li> BAGURSA </li>
    <li> Casa Colat, SL</li>
    <li> Columbia University</li>
    <li> COMSA - EMTE</li>
    <li> Concentració Industrial Vallesana</li>
    <li> Consorci Sanitari Integral</li>
    <li> Corporació Sanitària Clínic</li>
    <li> Departament de Justícia. Generalitat de Catalunya</li>
    <li> Foment Ciutat Vella, SA. Ajuntament de Barcelona</li>
    <li> Foment de les Arts Decoratives (FAD)</li>
    <li> GISA - Generalitat de Catalunya</li>
    <li> Hospital Clínic i Provincial de Barcelona</li>
    <li> Immobiliaria Madrid-Barcelona, SA</li>
    <li> INACSA</li>
    <li> INCASOL</li>
    <li> KRTU. Entitat Autònoma de Difusió Cultural</li>
    <li> Patronat Municipal de l’habitatge de Barcelona</li>
    <li> Promocom, SL</li>
    <li> Societat Municipal de Promocions Urbanes SA</li>
    <li> Terres de Miró, SA</li>
    <li> Zoo de Barcelona</li>
  </ul>
</section>
