<section>
  <h1>Profile</h1>
  <span class="aib_logo">AiB</span>
  <p>
    Is a platform devoted to contemporary architectural practice with a critical edge. 
    Provides professional services in Architecture, Urban Design and Landscape Design. 
    Carries out the whole array of architectural work from conceptualization to construction. 
    Its members pursue cultural and academic endeavors. 
    Strives for innovation and quality in Advanced Architectural Design.
  </p>
</section>
