<section>
  <h1>Professional Merits</h1>
  <span class="aib_logo">AiB</span>
  <p>
    Is a ten-year-old firm based in Barcelona with parallel operations in Los Angeles and 
    Miami. Over the  years we have succeeded both professionally and academically in the 
    practice of Advanced Architectural Design.
  </p>
  <p>
    In ten years we have developed over 250 projects and proposals, mostly for public clients. 
    Our extensive professional experience ranges from public facilities, to housing, town 
    planning and landscape.
  </p>
  <p>
    This body of work includes: 
  </p>
    <ul>
      <li>Major Hospital in BCN (construction due 2012)</li> 
      <li>Socially-inclusive Penitentiary in Tarragona (built)</li> 
      <li>Marine Zoo of Barcelona (design)</li> 
      <li>New Urban Center of Vilanova (award-winning design)</li>
      <li>Health Centre in Tarragona (award-winning design)</li> 
      <li>Maternity ward intervention in BCN (built) </li>
      <li>Market and Housing in Vilassar (award-winning design) </li>
      <li>Private and Social Housing  (9 built projects) </li>
      <li>Seafront Promenade in Vilanova (award-winning design)</li>
      <li>Public space and infrastructure in Gurb (built) </li>
      <li>Urban Design (several projects approved) </li>
      <li>Courthouse in Falset (built) </li>
      <li>Chapel in Andorra (built)</li>
      <li>Heritage intervention on a Church in Barcelona (built) </li>
    </ul>
  <span class="aib_logo">AiB</span>'s
  <p>
    Work has received numerous awards and has been published in newspapers, on websites, 
    in books, and specialized magazines both local and international, including Quaderns, 
    Arquitectura Viva, and Abstract (Columbia University).
  </p>
</section>
