<section>
  <h1>Structure</h1>
  <p>
    Because Roger Paez i Blanch co-founded AiB in the United States (New York City) with 
    Juan Azulay in 1999, the studio has an american branch based in Los Angeles, with 
    whom they maintain contact and carry out join projects especially in the United States 
    and Argentina.  
  </p>
  <p>
    In 2008 Adrià Carbonell joined Global-AiB network studios by establishing COLLECTIVAA, 
    a new Barcelona based branch that works collaboratively on Architecture and Urban 
    Design fields as well as Theoretical and Research projects.
  </p>
  <article>
    <h1>Roger Paez i Blanch</h1>
    <h2>General Manager of <span class="logo_aib">AiB</span></h2>
    <ul>
      <li> Architect (ETSAB, Universitat Politècnica de Catalunya, 1998)</li>
      <li> Master of Science in Avanced Arquitectural Design (M.S. AAD, G.S.A.P.P., Columbia University, New York, 2000)</li>
      <li> Member of the COAC (Architects' Union) since 2000</li>
      <li> Professor of Architectural Design since 1998</li>
      <li> Member of the Editorial Board for “Quaderns d’Arquitectura i Urbanisme”, 2003-2005.</li>
      <li> Co-founder of [AiB] with Juan Azulay,  2000.</li>
      <li> 20 years of professional experience (1991) in various arquitecture studios (Alison+Peter Smithson, Enric Miralles i Moya, among others)</li>
    </ul>
  </article>
  <article>
    <h1>Juan Azulay</h1>
    <h2>Principal of AiB Matter Management</h2>
    <ul>
      <li> Architect (SCI-Arc, 1998).</li>
      <li> M.S. in Advanced Architectural Design (M.S. AAD), G.S.A.P.P., </li>
      <li> Columbia University, New York, 2000.</li>
      <li> Professor Architectural Design since 1999 Columbia University (New York), SCI-Arc (Los Angeles), ETSAV (Barcelona), etc.</li>
      <li> Co-founder of [AiB] with Roger Paez,  2000.</li>
      <li> 7 years of experience in various architecture studios (Frank O. Gehry, Osborn Architects, among others), 5 of which have been at the head of AiB Matter Management.</li>
      <li> Film director and screenwriter</li>
    </ul>
  </article>
  <article>
    <h1>Adrià Carbonell</h1>
    <h2>Principal of AiB-COLLECTIVAA</h2>
    <ul>
      <li> Architect (ETSALS, URL, 2005).</li>
      <li> Postgraduate Degree in Architecture and Writing (Elisava School of Design, UPF, 2005).</li>
      <li> Master of Science in Architecture and Urban Culture (ETSAB/CCCB, 2009).</li>
      <li> Member of the COAC (Architects’ Union) since 2008.</li>
      <li> Founder of COLLECTIVAA in partnership with [AiB], 2008.</li>
      <li> Awarded twice by the Official College of Architects of Catalonia (AJAC Prize 2010).</li>
      <li> 10 years of professional experience (2001) in various arquitecture studios (Manuel de Solà-Morales, Josep Llinàs, among others), 3 of which have been the head of COLLECTIVAA.</li>
      <li> Writer and researcher</li>
    </ul>
  </article>
</section>
