<section>
  <h1>Technical Qualifications</h1>
  <span class="aib_logo">AiB</span>
  <p>
    Has the know-how, the team of professionals, the technical means, and the external 
    consultants needed to successfully complete any project it takes on.
  </p>
  <p>
    Incorporates Ecological Design insourcing and research as added-value into its practice.
  </p>
  <p>
    Has developed an extensive network of consultants and collaborators that allow the office 
    to successfully tackle most design and construction jobs, including those very complex in 
    nature (e.g. a 70.000 sqm innovative and socially-inclusive Penitentiary, a 55.000 sqm 
    major Hospital in the centre of Barcelona , etc).
  </p>
  <p>
    Is currently legally constituted as an SLP (Sole Propietorship Professional office) lead by 
    Roger Paez i Blanch (Dipl Arch ETSAB 1998, MS AAD GSAPP 2000, PhD in progress).
  </p>
  <p>
    Roger Paez i Blanch and AiB partners Adrià Carbonell and Juan Azulay are Accredited, 
    Official, and fully Registered.
  </p>
  <p>
    Is currently completing the ISO 9001 and ISO 14006 – EcoDesign certification process.
  </p>
</section>
